:root {
    --theme-blue: #00A3F1;
    --theme-green: #83c907;
    --theme-pink: #E363B0;
    --bg-divider-light-1: #f5f8fa;
    --bg-divider-light-2: #ffffff;
}

html {
    font-size: 15px;
}

@font-face {
    font-family: 'AllianceLight';
    src: url('./core/components/fonts/alliance-no-1-light.otf');
    font-weight: light;
}

@font-face {
    font-family: 'AllianceSemibold';
    src: url('./core/components/fonts/alliance-no-1-semi-bold.otf');
    font-weight: light;
}

@font-face {
    font-family: 'AllianceBold';
    src: url('./core/components/fonts/alliance-no-1-bold.otf');
    font-weight: light;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
button {
    font-family: 'AllianceBold', sans-serif !important;
}

div,
span,
p,
li,
.fw-normal {
    font-family: 'AllianceLight', sans-serif !important;
    line-height: 28px;
}

.fw-medium {
    font-family: 'AllianceSemiBold', sans-serif !important;
}

.heading {
    font-size: 42px;
    text-transform: uppercase;
}

.theme-heading {
        background-color: transparent;
        background-image: linear-gradient(90deg, var(--theme-green), var(--theme-blue), var(--theme-pink));
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: inline;
}

.sub-heading {
    font-size: 15px;
}

.btn.btn-theme {
    @include button-custom-variant(
      $color: $white,
      $icon-color: null,
      $border-color: var(--theme-blue) !important,
      $bg-color: var(--theme-green) !important,
      $color-active: $white,
      $icon-color-active: null,
      $border-color-active: var(--theme-blue),
      $bg-color-active: var(--theme-blue)
    );
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        @include button-custom-variant(
            $color: $white,
            $icon-color: null,
            $border-color: var(--theme-blue) !important,
            $bg-color: var(--theme-green) !important,
            $color-active: $white,
            $icon-color-active: null,
            $border-color-active: var(--theme-blue),
            $bg-color-active: var(--theme-blue)
          ); 
    }
}

.bg-two-color {
    background: linear-gradient(
    to right,
    var(--bg-divider-light-1) 0%,
    var(--bg-divider-light-1) 50%,
    var(--bg-divider-light-2) 50%,
    var(--bg-divider-light-2) 100%
  );
}

[data-bs-theme='dark'] .bg-two-color {
    background: linear-gradient(
    to right,
    var(--bs-app-header-base-bg-color) 0%,
    var(--bs-app-header-base-bg-color) 50%,
    var(--bs-light) 50%,
    var(--bs-light) 100%
  );
}

.plan-tile {
    position: relative;
    height: 100%;

    .plan-features-expandable {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .plan-features {
            flex-grow: 1;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 4rem;
        }
    }

    .plan-btn {
        position: absolute;
        bottom: 2rem;
        width: calc(100% - 3rem);
    }
}